# Redirect ALL requests to the public subfolder.
# For web hosts that force you to have your entire source inside the public html folder.

#enable url rewriting
RewriteEngine on

#Force all requests to go via the public sub folder, if it has not already redirected here first.
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule (.*) /public/$1 [L]