# This is the htaccess file I have refined over the years.
# feel free to use this for your own project.

#enable url rewriting
RewriteEngine on

#restrict access to the dev sub domain by IP address
#RewriteCond %{HTTP_HOST} ^dev\.
#RewriteCond %{HTTP_HOST} ^qa\.
#Require ip <enter your ip>

Options +FollowSymlinks
#prevent apache from redirecting requests that match folder to one with a trailing slash
DirectorySlash Off
#stop file listings in folders
Options -Indexes

#remove trailing slashes from all requests
RewriteRule ^(.*)/$ /$1 [L,R=301]

#redirect to https://www if not a localhost, not dev, not qa, not www, or not https
RewriteCond %{SERVER_ADDR} !^127.0.0.1|::1
RewriteCond %{HTTP_HOST} !^qa\.
RewriteCond %{HTTP_HOST} !^dev\.
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

#[black listed files types] redirects file requests to the index.php if blacklisted extention (except for index.php itself)
RewriteCond %{REQUEST_URI} .*(.htaccess|.htpasswd|.ini|.psd|.log|.sh|.bash|.key|.php)$
RewriteCond %{REQUEST_URI} !=/index.php
RewriteRule .* /index.php [L,QSA]

#[block ALL directories] redirects requests to the index.php if route does not lead to file.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !=/index.php
RewriteRule .* /index.php [L,QSA]
